<div class="about_container">
    <div class="img_div">
        <img src="./assets/img/profilepic_cropped.jpg" class="img_pp">
    </div>
    <div class="text_div">
        <div class="name_div">Naing Lin Maung</div>
        <div id="typewriting" class="typewriting_div"></div>
    </div>
    <div class="bio_div">
        <h1>Bio</h1>
        Hi, I am Naing Lin Maung. I am currently studying Computer Science at University of London. I am really passionate about developing my own games and programs.
    </div>
    <div class="skill_div" id="skill_div">
       <h1>Technical Skills</h1>
       <div class="skill_table">
        <div>
            Languages
        </div>
        <div>
            Python
        </div>
        <div>
            Frameworks
        </div>
        <div>
            Angular
        </div>
       </div>
    </div>
</div>