/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    color: black;
    background-color: gray;
    /* background-image: url("./99785.jpg"); */
    background-attachment: fixed;
    background-size: 100vh;
    background-repeat: no-repeat;
}